.homepage-wrapper {
  width: 100%;
}

.category-container {
  width: 1919px; 
  margin: 0 auto;
  overflow: hidden; 
  display: flex; 
  align-items: center;
  position: relative;
} 

.product-item {
  flex: 0 0 auto; 
  width: 300px; 
  border: 1px solid #ccc; 
  text-align: center;
}
.button-category-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.remove-category-button {
    margin: 0 auto;
    display: block;
  }
  
.remove-category-button {
    background-color: red;
    display: flex;
    justify-content: center;
    }

.remove-category-button:hover {
    background-color: rgb(168, 0, 0);
}

.admin-add-product {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4170b8;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    min-width: 50px;
}








.custom-spinner {
  width: 3rem;
  height: 3rem;
  border: 4px solid rgba(0, 0, 0, 0.2); 
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1500;
}

  


.error-message-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .error-image {
  width: 576px
}






@media (max-width: 2000px) {
  .category-container {
    width: 1610px;
  }

  .product-scroll-menu {
    gap: 8.5px
  }

  .category-title {
    margin-left: 10px;
  }

  .product-item:hover {
    transform: scale(1.04);
  }
}

@media (max-width: 1640px) {
  .category-container {
    width: 1347px;
  }

  .product-scroll-menu {
    gap: 8.2px
  }

  .product-item:hover {
    transform: scale(1.035);
  }
}



@media (max-width: 1400px) {
  .category-container {
    width: 1083px;
  }

  
  .product-scroll-menu {
    gap: 7px
  }

  .product-item:hover {
    transform: scale(1.03);
  }
} 


@media (max-width: 1120px) {
  .category-container {
    width: 819px;
  }

  
  .product-scroll-menu {
    gap: 7px
  }

  .product-item:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 852px){
  .category-container {
    width: 95vw;
  }

  .product-item {
    max-width: 43.5vw;
    width: 43.5vw;
  }
  
  .product-scroll-menu {
    gap: 1.35vw;
  }

  .product-item:hover {
    transform: scale(1.01);
  }
  
}

@media (max-width: 759px) {
  .category-container {
    width: 95vw;
  }

  .product-item {
    max-width: 43vw;
    width: 43vw;
  }

  
  .error-message-container {
    width: 100%;
  }

  .error-image {
    width: 97%;
    height: auto;
  }
}

@media (max-width: 720px) {
  .category-container {
    width: 93vw;
  }

  .product-item {
    max-width: 41.8vw;
    width: 41.8vw;
  }
}

@media (max-width: 616px) {
  .category-container {
    width: 93vw;
  }

  .product-item {
    max-width: 41.2vw;
    width: 41.2vw;
  }

  .category-title {
    margin-left: 5px;
  }
}

@media (max-width: 577px) {

  .product-item {
    max-width: 40.9vw;
    width: 40.9vw;
  }
}

@media (max-width: 500.5px) {
  .product-card-wrapper {
    transform-origin: top left;
    width: calc(200px * 1.017); 
    height: calc(350px * 1.017);
    transform: scale(0.99); 
  }
}

@media (max-width: 491.5px) {
  .product-card-wrapper {
    transform-origin: top left;
    width: calc(200px * 0.995); 
    height: calc(350px * 0.995);
    transform: scale(0.96); 
  }
}

@media (max-width: 478px) {
  .product-card-wrapper {
    width: calc(200px * 0.97); 
    height: calc(350px * 0.97);
    transform: scale(0.95); 
  }
}

@media (max-width: 471px) {
  .category-container {
    width: 92.7vw;
  }

  .product-card-wrapper {
    width: calc(200px * 0.95); 
    height: calc(350px * 0.95);
    transform: scale(0.93); 
  }
}

@media (max-width: 462px) {
  .product-card-wrapper {
    width: calc(200px * 0.925); 
    height: calc(350px * 0.925);
    transform: scale(0.91); 
  }
}

@media (max-width: 453.5px) {
  .category-container {
    width: 92.5vw;
  }

  .product-card-wrapper {
    width: calc(200px * 0.91); 
    height: calc(350px * 0.91);
    transform: scale(0.89); 
  }
}

@media (max-width: 446px) {
  .product-card-wrapper {
    width: calc(200px * 0.89); 
    height: calc(350px * 0.89);
    transform: scale(0.87); 
  }
}

@media (max-width: 438px) {
  .category-container {
    width: 92.3vw;
  }

  .product-card-wrapper {
    width: calc(200px * 0.87); 
    height: calc(350px * 0.87);
    transform: scale(0.85); 
  }
}

@media (max-width: 429px) {
  .category-container {
    width: 92.1vw;
  }

  .product-card-wrapper {
    width: calc(200px * 0.85); 
    height: calc(350px * 0.85);
    transform: scale(0.83); 
  }
}

@media (max-width: 421px) {
  .category-container {
    width: 91.9vw;
  }

  .product-card-wrapper {
    width: calc(200px * 0.83); 
    height: calc(350px * 0.83);
    transform: scale(0.81); 
  }
}

@media (max-width: 415px) {
  .category-container {
    width: 91.7vw;
  }

  .product-card-wrapper {
    width: calc(200px * 0.815); 
    height: calc(350px * 0.815);
    transform: scale(0.795); 
  }
}

@media (max-width: 410px) {
  .product-card-wrapper {
    width: calc(200px * 0.81); 
    height: calc(350px * 0.81);
    transform: scale(0.79); 
  }
}

@media (max-width: 404px) {
  .product-card-wrapper {
    width: calc(200px * 0.795); 
    height: calc(350px * 0.795);
    transform: scale(0.775); 
  }
}

@media (max-width: 400px) {
  .product-card-wrapper {
    transform: scale(0.92);
    height: auto;
    width: auto;
  }

  .product-scroll-menu {
    padding: 15px 10px;
  }

  .product-item {
    max-width: 83vw;
    width: 83vw;
  }
}