.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-result-grid2 {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 1050px;
}

.search-result-grid3 {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 1280px;
}

.found-product-grid3-container {
  max-width: 1300px;
  margin: 0 auto;
}

.found-product-grid2-container {
  max-width: 1050px;
  margin: 0 auto;
}

.found-product-list-container {
  padding: 0 14px;
  max-width: 1400px;
  margin: 0 auto;
}

.search-result-list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.no-products {
  text-align: center;
  margin: 30px 0 70px 0;
  font-weight: 500;
  font-size: 20px;
}

.product-toolbar-container-grid3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 1300px;
  margin: 0 auto;
}

#searchInput-grid3 {
  box-sizing: border-box;
}

.product-toolbar-container-grid2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 1030px;
  margin: 0 auto;
  overflow-x: hidden;
}

#searchInput-grid2 {
  box-sizing: border-box;
}

.product-toolbar-container-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
}

#searchInput-list {
  box-sizing: border-box;
}

.toolbar-title {
  font-size: 35px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
 
.toolbar-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  flex-wrap: wrap; 
}

.sort-dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.sort-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
}

.choose-maket-wrapper {
  display: flex;
  gap: 8px;
}

.choose-maket-buttons {
  color: black;
  background-color: #ccc;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-radius: 4px;
  cursor: pointer;
}

.choose-maket-buttons:hover {
  background-color: #5b5b5b;
}

.choose-maket-buttons.active {
  background-color: #b22222;
  color: white;
}

.sort-dropdown:hover::after,
.choose-maket-buttons:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
  margin-bottom: 5px;
  z-index: 11110;
}

.sort-dropdown::after,
.choose-maket-buttons::after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.custom-spinner {
  width: 3rem;
  height: 3rem;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-found-product-container {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9); 
  z-index: 1500;
}








/* grid2 */
@media (max-width: 1124px) {
  .found-product-grid2-container {
  max-width: 800px;
  }
} 

@media (max-width: 868px) {
  .found-product-grid2-container {
    max-width: 750px;
  }
}

@media (max-width: 778px) {
  .search-result-grid2, .product-toolbar-container-grid2 {
    margin-left: 5vw;
    max-width: 550px;
  }
}

@media (max-width: 615px) {
  .product-toolbar-container-grid2 {
    margin: 0 auto;
    width: 350px;
  }

  .search-result-grid2 {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}






/* grid3 */
@media (max-width: 1400px) {
  .found-product-grid3-container {
  max-width: 1300px;
  }
} 

  @media (max-width: 1312px) {
    .found-product-grid3-container {
    max-width: 1100px;
  }
} 

@media (max-width: 1224px) {
    .found-product-grid3-container {
    max-width: 800px;
  }
}

@media (max-width: 820px) {
  .found-product-grid3-container {
    max-width: 740px;
  }
}

@media (max-width: 778px) {
  .search-result-grid3, .product-toolbar-container-grid3{
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
  }
}

@media (max-width: 615px) {
  .product-toolbar-container-grid3 {
    margin: 0 auto;
    width: 350px;
  }

  .search-result-grid3 {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-toolbar-container-grid3{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 350px;
  }
}




/* list */

@media ((max-width: 1200px)) {
  .found-product-list-container {
  max-width: 945px;
  }
} 

@media ((max-width: 1010px)) {
  .found-product-list-container {
    max-width: 844px;
  }
}

@media ((max-width: 915px)) {
  .found-product-list-container {
    max-width: 744px;
  }
}

@media ((max-width: 778px)) {
  .found-product-list-container {
    max-width: 544px;
  }
}

@media (max-width: 610px) {
  .product-toolbar-container-list {
    margin: 0 auto;
    width: 350px;
  }

  .search-result-list {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
