.title-tabs-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 15px 5px 15px;
 }

.full-product-title {
  font-size: 30px;
  margin: 0 auto;
  text-align: left;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}

.full-tabs-container {
  margin: 0 auto;
  display: flex;
  font-weight: 500;
  gap: 22px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.full-tab {
  /* padding: 10px; */
  cursor: pointer;
  color: black;
  font-size: 16px;
  position: relative;
}

.full-tab.full-active {
  color: red;
}

.full-tabs-underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #00adef;
  transition: all 0.4s ease-in-out;
}

.full-product-main {
  flex-direction: column;
  overflow-x: hidden;
}

.full-product-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characteristics-section {
  padding: 50px 20px 50px 20px;
  margin: 0 auto;
  max-width: 970px;
}

.disconted-price-span {
    font-weight: bold; 
    font-size: 45px;
  }

.disconted-price-currency-span {
  margin-right: 12px
}

.main-description-top-content {
  margin-top: 50px;
}

.main-description-bottom-content {
  margin-bottom: 50px;
}

@media (min-width: 1800px) {
  .image-and-info-container {
    display: flex;
    flex-direction: row;
    margin: 0 16px;
  }
}

@media (max-width: 1800px) and (min-width: 1200px) {
  
  .tablet-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .left-container {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    flex: 1; 
  }

  .right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
  }
}

@media (max-width: 1200px) {
  .main-description-top-wrapper, 
  .main-description-bottom-wrapper,
  .comments-wrapper,
  .review-form-wrapper {
    margin: 0 auto;
    max-width: 700px;
  }
   
  .full-product-body {
    display: flex;
    flex-direction: column;
  }

  .tablet-container,
  .left-container,
  .right-container {
    flex-direction: column;
    gap: 16px;
  }

  .full-timer-and-zoom-container {
    margin-top: 16px;
  }
}

@media (max-width: 730px) {
  .zoom-image-label {
    font-size: 12px;
  }

  .image-container-zoom {
    width: 90%;
    height: auto;
  }

  .full-product-title {
    font-size: 24px;
  }
  
  .image-scroller-horizontal {
    width: 90%;
    height: auto;
  }

  .image-item {
    height: auto;
  }

  .image-list-horizontal {
    gap: 4px;
  }

  .availability {
    display: block;
    margin: 0 auto;
  }

  .rating-container {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .manufacturer {
    margin: 0 auto;
  }

  .additional-info-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }
/* 
  .main-description-top-wrapper, 
  .main-description-bottom-wrapper {
    text-align: center;
  } */

  .timer-label {
    width: 30%;
  }

  .timer-label {
    font-size: 23px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .timer-sub-label {
    font-size: 18px;
  }
  
  .time-number {
    font-size: 29px;
  }

  .time-label {
    font-size: 15px;
  }

  .time-box {
    width: 70px;
  }

  .timer-label span{
    font-size: 23px;
  }

  .timer-sub-label {
    font-size: 18px;
  }

  .current-price,
  .product-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional-info-container {
    margin: 0 auto;
  }

}

@media (max-width: 530px) {
  
  .timer-label {
    width: 30%;
  }

  .timer-label {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .time-number {
    font-size: 19px;
  }

  .time-label {
    font-size: 10px;
  }

  .time-box {
    width: 48px;
  }

  .timer-label span{
    font-size: 13px;
  }

  .timer-sub-label {
    font-size: 10px;
  }

}






.custom-spinner {
  width: 3rem;
  height: 3rem;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}


