.product-description {
    background-color: #fcfcfc;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #f1efef;
    border-radius: 5px;
    margin: 10px;
    margin: 10px 0;
}

.product-description h2 {
    font-size: 18px;
    color: #4a4949;
    margin-bottom: 20px;
    margin-top: 10px;

}

.product-description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.description-item {
    display: flex;
    margin-bottom: 5px;
    position: relative;
    font-size: 14px;
    color: #555;
}

.parameter {
    flex-shrink: 0;
    width: 50%;
}

.dots {
    flex-grow: 1;
    margin: 0 10px;
    display: inline-block;
}

.value {
    flex-shrink: 0;
    text-align: right;
}
