@media (max-width: 992px) {
    .navbar-grid {
      /* grid-template-columns: 1fr 1fr 1fr; */
      grid-gap: 10px;
    }
   
    .catalog-button {
      justify-content: center;
      padding: 0;
      width: 50px;
      height: 50px;
    }
  
    .catalog-container-title {
      font-size: 15px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: antiquewhite;
    }

    .modal-header-custom {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
    }

    .catalog-button p {
      display: none;
    }
  
    .icon-container-angle {
      display: none;
    }
  
    .catalog-button .icon-container-bars {
      margin-right: 0;
    }
  
    .offcanvas {
      position: absolute;
      z-index: 1050; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
      border: 1px solid #ccc;
    }
    
    .offcanvas-header {
      display: flex;
    }

    .custom-close-btn {
      /* position: absolute;
      z-index: 1051; */
      width: 38px;
      height: 38px;
      font-size: 20px;
      right: 0px;
      color: rgb(255, 255, 255);
      border: 1px solid hsl(354, 69%, 42%);
      background-color: rgb(143, 27, 27); 
    }

    .custom-close-btn:hover {
      background-color: #c22837;
      cursor: pointer
    }
    
    .catalog-dropdown-mobile-item {
      padding: 10px;
      border: 1px solid #ccc;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-bottom: 1px solid #555;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
    
    .catalog-dropdown-mobile-item:last-child {
      border-bottom: none;
    }
    
    .catalog-dropdown-mobile-item:hover {
      background-color: #b52a37;
    }
    
    .catalog-dropdown-mobile-subitem {
      padding: 10px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-bottom: 1px solid #555;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    .catalog-dropdown-mobile-subitem-title {
      margin-left: 30px;
    }

    .catalog-dropdown-mobile-subitem:hover {
      background-color: #b52a37;
    }

    /* .icon-container-angle.rotate {
      transform: rotate(180deg);
      transition: transform 0.6s ease;
    } */
    
    .icon.rotate {
      transform: rotate(90deg);
      transition: transform 0.6s ease;
    }
    
    .offcanvas-body {
      overflow-y: auto;
      max-height: calc(100vh - 60px); 
      padding-bottom: 20px;
    }

    .offcanvas-body::-webkit-scrollbar {
      display: none;  /* Для Chrome, Safari и Opera */
    }
  }
  
  @media (max-width: 576px) {
    .brand-name, .company-name {
      display: none;
    }
  
    .navbar-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
  
    .catalog-button {
      justify-content: center;
      padding: 0;
      width: 50px;
      height: 50px;
    }
  
    .right-icons {
      justify-content: flex-end;
    }
  }