.header-container {
    padding: 5px;
    background-color: #333;
    position: relative;
  }
  
  .logo {
    color: white;
    width: 140px;
  }

  .logo:hover {
    cursor: pointer;
  }
  
  .navbar-grid {
    display: grid;
    grid-template-columns: 1fr auto 0.5fr 6fr auto 1fr;
    align-items: center;
    width: 100%;
    grid-gap: 20px;
  }
  
  .catalog-button {
    grid-column: 2 / span 1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(354, 69%, 42%);
    border: 1px solid rgb(84, 7, 7);
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    width: auto;
    position: relative;
    z-index: 10; 
  }
  
  .catalog-button:hover .icon-container-angle {
    transform: rotate(180deg);
    transition: transform 0.6s ease;
  }
  
  .icon-container-bars {
    margin-right: 10px;
  }
  
  .icon-container-angle {
    margin-left: 50px;
  }
  
  .catalog-button:hover {
    cursor: pointer;
    background-color: #b52a37;
  }
  
  
  
  
  
  
  .overlay-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 5;
  }
  
  .catalog-button:hover + .overlay-dim {
    display: block;
  }
  
  .catalog-dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #ccc;
    width: 225px;
    z-index: 100;
    top: 38px;
    left: 0;
  }
  
  .catalog-dropdown-item {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  
  .catalog-dropdown-item:last-child {
    border-bottom: none;
  }
  
  .catalog-dropdown-item:hover {
    background-color: #b52a37;
  }
  
  .catalog-button:hover .catalog-dropdown {
    display: block;
  }
  
  .catalog-dropdown-submenu {
    left: 100%;
    top: 0;
    position: absolute;
    background-color: #333;
    border: 1px solid #ccc;
    width: 215px;
    height: 100%;
    z-index: 1000;
  }
  .catalog-dropdown-subitem {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 8px; /* Отступ между кнопками */
  }
  
  .delete-subcatalog-in-catalog,
  .add-product-btn {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    font-size: 16px; 
    width: 32px;
    height: 16px; 
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .delete-subcatalog-in-catalog {
    background-color: #b52a37;
    border: 1px solid red;
  }
  
  .delete-subcatalog-in-catalog:hover {
    background-color: red;
  }
  
  .add-product-btn {
    background-color: rgb(62, 62, 255);
    border: 1px solid blue;
  }
  
  .add-product-btn:hover {
    background-color: rgb(40, 40, 255);
  }
  
  .subcatalog-actions-wrapper {
    display: flex;
    justify-content: space-between;
  }

  
  
  
  
  
  
  .catalog-dropdown-subitem:hover {
    background-color: #b52a37;
  }
  
  .brand-name {
    grid-column: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .company-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .search-bar {
    grid-column: 4 / span 1;
  }
  
  .search-input-group {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .search-input {
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
    background-color: #464646;
    color: #ffffff;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  
  .search-input:focus {
    border-color: #dc3545;
    outline: none;
  }
  
  .search-btn {
    background-color: hsl(354, 69%, 42%);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
    width: 90px;
  }
  
  .search-btn:hover {
    cursor: pointer;
    background-color: #b52a37;
  }
  
  .right-icons {
    grid-column: 5 / span 1;
    display: flex;
    justify-content: space-between;
  }
  
  .icon-btn {
    background-color: transparent;
    border: none;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .icon-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .icon {
    color: white;
    font-size: 1.5rem;
  }
  
  .cart-count {
    font-size: 16px;
    color: red;
    margin-left: 15px;
    margin-top: -35px;
  }

  
.cart-count {
    position: absolute;
    background-color: white;
    padding: 3px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
    min-width: 12px;
    text-align: center;
  }
  
  







   /* .header-container {
    padding: 5px;
    background-color: #333;
    position: relative;
  }
  
  .logo {
    color: white;
    width: 140px;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .navbar-grid {
    display: grid;
    grid-template-columns: 1fr auto 0.5fr 6fr auto 1fr;
    align-items: center;
    width: 100%;
    grid-gap: 20px;
  }
  
  .catalog-button {
    grid-column: 2 / span 1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(354, 69%, 42%);
    border: 1px solid rgb(84, 7, 7);
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    width: auto;
    position: relative;
    z-index: 10;
  }
  
  .catalog-button:hover {
    cursor: pointer;
    background-color: #b52a37;
  }
  
  .icon-container-bars {
    margin-right: 10px;
  }
  
  .icon-container-angle {
    margin-left: 50px;
    transition: transform 0.6s ease;
  }
  
  .icon-container-angle.rotate {
    transform: rotate(180deg);
  }
  
  .overlay-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
  
  .catalog-dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #ccc;
    width: 225px;
    z-index: 100;
    top: 38px;
    left: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .catalog-dropdown.active {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
  
  .catalog-dropdown-item {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  
  .catalog-dropdown-item:last-child {
    border-bottom: none;
  }
  
  .catalog-dropdown-item:hover {
    background-color: #b52a37;
  }
  
  .catalog-dropdown-submenu {
    left: 100%;
    top: 0;
    position: absolute;
    background-color: #333;
    border: 1px solid #ccc;
    width: 215px;
    z-index: 1000;
  }
  
  .catalog-dropdown-subitem {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  
  .catalog-dropdown-subitem:hover {
    background-color: #b52a37;
  }
  
  .delete-subcatalog-in-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #b52a37;
    border: 1px solid red;
    width: 32px;
    height: 32px;
    border-radius: 4px;
  }
  
  .delete-subcatalog-in-catalog:hover {
    background-color: red;
  }
  
  .add-product-btn {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgb(62, 62, 255);
  }
  
  .subcatalog-actions-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .brand-name {
    grid-column: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .company-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .search-bar {
    grid-column: 4 / span 1;
  }
  
  .search-input-group {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .search-input {
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
    background-color: #464646;
    color: #ffffff;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  
  .search-input:focus {
    border-color: #dc3545;
    outline: none;
  }
  
  .search-btn {
    background-color: hsl(354, 69%, 42%);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
    width: 90px;
  }
  
  .search-btn:hover {
    cursor: pointer;
    background-color: #b52a37;
  }
  
  .right-icons {
    grid-column: 5 / span 1;
    display: flex;
    justify-content: space-between;
  }
  
  .icon-btn {
    background-color: transparent;
    border: none;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .icon-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .icon {
    color: white;
    font-size: 1.5rem;
  }
  
  .cart-count {
    position: absolute;
    background-color: white;
    padding: 3px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
    min-width: 12px;
    text-align: center;
  }
   */